*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

header{
    background-color: #3b5998;
    padding: 8px 0;
}

div.logo{
    float: left;
    color: white;
    margin-top: 13px;
}

.logo h2{
    font-size: 35px;
    font-weight: bolder;
}

form.form-login{
    top: 0px;
    float: right;
    margin-right: 10%;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 14px;
}

div.span{
    margin-left: 165px;
    color: rgba(255, 255, 255,0.4);
}

.form-element input[type=email],
input[type=password]{
    margin-top: 4px;
    border: 0;
    height: 22px;
    padding-left: 3px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background-color: #3b5998;
    border: 2px solid #0d1c3b;
    color: white;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover{
    background-color: #587ecf;
    border: 1px solid black;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

div.frase{
    display: block;
    width: 48%;
    padding-bottom: 15px;
}

div.frase{
    font-size: 20px;
    font-weight: normal;
}

div.img-pessoas{
    float: left;
    width: 60%;
    margin-top: 25px;
}

.img-pessoas img{
    max-width: 70%;
}

.abrir-conta{
    width: 40%;
    float: left;
    margin-top: -100px;
}

.abrir-conta h3:first-child{
    font-size: 28px;
    color:  rgb(30,30,30);
    margin-top: 10px;
    font-weight: bold;
}

.abrir-conta h3{
    font-size: 19px;
    color: rgb(30,30,30);
    margin-top: 10px;
    font-weight: normal;
}

form.criar-conta{
    margin-top: 10px;
}

.w50{
    width: 50%;
    padding: 0 5px;
    float: left;
}

.w100{
    width: 100%;
    padding: 0 5px;
    float: left;
}

form.criar-conta input{
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type="email"],
form.criar-conta input[type="text"],
form.criar-conta input[type="password"]{
    height: 40px;
    padding-left: 10px;
    margin-left: -4px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frase2{
    font-size: 14px;
    color: #737373;
    padding-bottom: 15px;
}

form.criar-conta input[type="submit"]{
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 4px;
    margin-bottom: 29px;
}

form.criar-conta h3{
    padding-top: 160px;
}


form .w100 h2{
    margin-top: 10px;
    color: #1d2129;
    font-size: 20px;
    font-weight: normal;
    padding-top: 160px;
}

form select.nascimento{
    float: left;
    margin-top: 8px;
    padding: 5px;
    cursor: pointer;
}

form select.nascimento{
    float: left;
    margin-top: 8px;
    padding: 5px
}

div.input-radio{
    margin: 15px 0;
    float: left;
    margin-left: 10px;
    padding-top: -100px;
}

.input-radio h2{
    display: inline-block;
    padding: 0px 0px 0px 0px !important;
}

.input-radio input[type=radio]{
    width: auto ;
    display: inline-block;
}

section.linguas{
    padding: 30px 0;
    background-color: white;
}

section.linguas a{
    padding-right: 15px;
    font-size: 13px;
    color: #365899;
    text-decoration: none;
}

section.linguas a.selected-lingua{
    color: #737373;
}

section.linguas .center{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc
}

div.span2 span{
    color: black;
}