*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

header{
    background-color: #3b5998;
    padding: 8px 0;
}

div.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 29px;
    font-weight: normal;
}

form.form-login{
    float: right;
    margin-right: 10%;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 14px;
}

.form-element input[type=email],
input[type=password]{
    margin-top: 4px;
    border: 0;
    height: 22px;
    padding-left: 3px;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background-color: #1969e5;
    border: 2px solid #3b5998;
    color: white;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover{
    background-color: #3b5998;
    border: 1px solid black;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

.img-pessoas{
    float: left;
    width: 50%;
}

.img-pessoas img{
    max-width: 70%;
}

.abrir-conta{
    width: 40%;
    float: left;
}

.abrir-conta h3{
    font-size: 19px;
    color: rgb(30,30,30);
    margin-top: 10px;
    font-weight: normal;
}

form.criar-conta{
    margin-top: 10px;
}

.w50{
    width: 50%;
    padding: 0 5px;
    float: left;
}

.w100{
    width: 100%;
    padding: 0 5px;
    float: left;
}

form.criar-conta input{
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type="email"],
form.criar-conta input[type="text"],
form.criar-conta input[type="password"]{
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #3b5998;
    border-radius: 8px;
}

form.criar-conta input[type="submit"]{
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: 0;
    max-width: 200px;
    font-size: 19px;
    border-radius: 4px;
}
